CLIENT_URL=http://localhost:5173

DATABASE_URL=
SOCKET_CORS_ORIGINS=
SOCKET_PATH=
PORT= 8000
JWT_ACCESS_SECRET=gaylord123456789
JWT_REFRESH_SECRET=gaylord123456789
NODE_ENV=development
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
ADMIN_EMAILS=

SAL=25405eawfewfaew

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=-

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
EMAIL_USER=
EMAIL_PASS=
BACKEND_PUBLIC_URL=
